.jumbtron {
  padding-top: 60px;
  align-items: center;
}

.form {
  margin: 0 auto !important;
  float: none !important;
}

.bg-primary {
  color: white;
  background-color: blueviolet;
}

.btn-success {
  margin-right: 50px;
}
