<div class="jumbtron">
  <form #form="ngForm" autocomplete="off" class="col-md-5 form">
    <h2 class="text-center text-primary">User details</h2>
    <div class="form-group">
      <div class="form-group">
        <mat-grid-list cols="5" rowHeight="100px">
          <div class="form-group">
            <mat-grid-tile [colspan]="3" [rowspan]="4">
              <img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/photo_portrait.png" />
            </mat-grid-tile>
          </div>
          <div class="form-group">
            <mat-grid-tile [colspan]="2">
              Name:   {{user.userName}}
            </mat-grid-tile>
          </div>
          <div class="form-group">
            <mat-grid-tile [colspan]="2">
              Id:   {{user.id}}
            </mat-grid-tile>
          </div>
          <div class="form-group">
            <mat-grid-tile [colspan]="2">
              Is active:   {{user.isActive}}
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="button" (click)="back()">Back</button>
      </div>
    </div>
  </form>
</div>
