<div class="jumbtron">
  <form #form="ngForm" autocomplete="off" class="col-md-12 form">
    <div class="form-group" *ngIf="formData.id == 0">
      <h2 class="text-center text-primary">Select user</h2>
    </div>
    <div class="form-group text-center" *ngIf="formData.id == 0 else editTitle">
        <mat-form-field>
          <mat-label>Select user</mat-label>
          <mat-select [(ngModel)]="formData.id" name="id">
            <mat-option *ngFor="let user of users" [value]="user.id" (click)="updateValues(user.id)">
              <i [ngClass]="{'is-invalid': form.controls['title']?.invalid && form.controls['title']?.touched}">{{user.userName}}</i>
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <ng-template #editTitle>
      <h2 class="text-center text-primary" [(ngModel)]="formData.userName" name="formData.userName">Books of {{formData.userName}}</h2>
    </ng-template>
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">
    <div class="form-group">
      <mat-list>
        <h3 class="text-center text-primary">Actual books:</h3>
        <mat-list-item *ngFor="let book of books" [(ngModel)]="books" name="books" class="text-center">
          <i>{{book.title}}</i>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="form-group">
      <mat-list>
        <h3 class="text-center text-primary">Past books:</h3>
        <mat-list-item *ngFor="let oldBook of oldBooks" [(ngModel)]="oldBooks" name="oldBooks" class="text-center">
          <i>{{oldBook.title}}</i>
        </mat-list-item>
      </mat-list>
      <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="button" (click)="goBack()">Back</button>
      </div>
    </div>
  </form>
</div>
