<div class="jumbtron">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" class="col-md-5 form">
    <h2 class="text-center">User gets book</h2>
    <div class="form-group text-center">
      <mat-form-field>
        <mat-label>Select user</mat-label>
        <mat-select [(ngModel)]="selectedUser" name="UserId">
          <mat-option *ngFor="let user of usersActive" [value]="user.id" >
            <i [ngClass]="{'is-invalid': form.controls['title']?.invalid && form.controls['title']?.touched}">{{user.userName}}</i>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group text-center">
      <mat-form-field>
        <mat-label>Select book</mat-label>
        <mat-select [(ngModel)]="selectedBook" name="BookId">
          <mat-option *ngFor="let book of booksAvailables" [value]="book.id">
            <i [ngClass]="{'is-invalid': form.controls['title']?.invalid && form.controls['title']?.touched}">{{book.title}}</i>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" [disabled]="form.invalid" type="submit">Save</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>
